@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.outer-div {
            width: 100%; /* Set the width as needed */
            height: 100%; /* Set the height as needed */
            border: 1px solid #ccc;
            overflow: hidden; /* Hide content that overflows */
        }

        /* Style for the inner div */
        .inner-div {
            displasy:flex;
            justify-items:end;
            width: 100%; /* Make it 100% width of the parent */
            height: 80%; /* Make it 100% height of the parent */
            overflow-y: auto; /* Enable vertical scrolling */
            padding: 10px; /* Optional: Add padding for content */
        }
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
